[Desktop Entry]
Name=AP0G33 (uwsm-managed)
Comment=An intelligent dynamic tiling Wayland compositor (Hyprland port for Debian/Kali)
Exec=uwsm start -e -D AP0G33 ap0g33.desktop
TryExec=uwsm
DesktopNames=AP0G33
Type=Application
